# FastAPI libraries
fastapi==0.63.0
uvicorn[standard]==0.13.4
pydantic==1.7.4

# Starlette optional dependencies
aiofiles==0.6.0

# Raspberry Pi libraries
gpiozero==1.5.1

# Logging libraries
loguru==0.5.3

# Testing dependencies
coverage==5.4
requests==2.25.1
