# FastAPI libraries
fastapi==0.68.1
uvicorn==0.15.0
pydantic==1.8.2

# Starlette optional dependencies
aiofiles==0.7.0

# Raspberry Pi libraries
gpiozero==1.6.2

# Logging libraries
loguru==0.5.3

# Testing dependencies
coverage==5.5
requests==2.31.0
